$primary-cyanBlue: #5fb4a2;
$dark-blue: #203a4c;
$dark-grayish-blue: #33323d;
$light-grey: #eaeaeb;
$birght-red: #f43030;
$white: #fafafa;

// Font size styles
$large-header-fs: 6rem;
$large-header-lh: 1.4;
$middle-header-fs: 4.5rem;
$middle-header-lh: 1.2;
$small-header-fs: 3.5rem;
$small-header-lh: 1.2;
$little-header-fs: 2.5rem;
$little-header-lh: 1.2;
$overLarge-main-fs: 6.4rem;
$overLarge-main-lh: 1;
